# Data Science Tools and Ecosystem

## Author
Giorgia Ortolani

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List languages for data science
- Identify uses and benefits of Python
- Identify uses and benefits or R
- Identify uses and benefits of SQL

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. MatplotLib
4. Seaborn

|Data Science Tools|
|------------------|
|MySQL| 
|MongoDB|
|Apache CouchDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335